.container {
	width: 750px;
	border: 4px solid #98bcde;
	border-radius: 10px;
	margin: 100px auto;
	background-color: #fff;
	/*display: flex;
	justify-content: space-around;*/
	display: table;
	clear: both;
	overflow: hidden;
}

.left_content {
	width: 160px;
	height: 600px;
	background-color: #d8f1f9;
	float: left;
	text-align: center;
}

.content {
	width: 590px;
	height: 600px;
	background-color: #FFF;
	float: right;
}

.content_top {
	width: 100%;
	height: 80px;
	background-color: #6fdcff;
	position: relative;
}

.content_top .tips {
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.content_bodyer {
	width: 100%;
	height: 410px;
	background: #f4f4f4;
	overflow: hidden;
	position: relative;
}

.chat {
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	padding: 10px 4px;
	padding-top: 20px;
	bottom: 0;
}

form {
	width: 100%;
	height: 110px;
	position: relative;
}

textarea {
	resize: none;
	font-size: 20px;
	width: 100%;
	height: 511px;
}

.msg {
	width: 486px;
	border: none;
	height: 74px;
	box-sizing: border-box;
	padding: 4px 10px;
	font-size: 20px;
	outline: none;
}

.btn {
	width: 78px;
	height: 30px;
	background-color: #d8f1f9;
	border-radius: 6px;
	border: 1px solid #98bcde;
	font-size: 16px;
	color: #92acdc;
	font-weight: bold;
	position: absolute;
	bottom: 4px;
	right: 4px;
}

.openHistory {
	font-size: 16px;
	color: #000;
	z-index: 10;
	position: absolute;
	bottom: 5px;
	right: 5px;
	cursor: pointer;
}

.history {
	width: 250px;
	height: 410px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	font-size: 16px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	z-index: 10;
}

.scrollbar {
	width: 12px;
	height: 100%;
	background: black;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.5;
	overflow: hidden;
	display: none;
	z-index: 10;
}

.scrollbar .thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: #6d6a6a;
	cursor: pointer;
}

.msgRight {
	text-align: right;
}

.msgLeft {
	text-align: left;
}

.msgLeft,
.msgRight {
	margin-bottom: 26px;
}

.msgLeft>span,
.msgRight>span {
	padding: 10px;
	font-size: 16px;
	line-height: 20px;
	border-radius: 10px;
}

.msgLeft>span {
	background-color: #d8f1f9;
	box-shadow: inset -2px -3px 8px 1px #75ddff;
}

.msgRight>span {
	background-color: #FFF;
	box-shadow: inset -2px -3px 8px 1px #d8d8d8;
}