* {
	margin: 0;
	padding: 0;
}

.bodyer .panel {
	width: 362px;
	height: 320px;
	border-radius: 6px;
	margin: 90px auto;
	background: #FFF;
	position: relative;
	overflow: hidden;
}

.logo {
	width: 100px;
	height: 100px;
	background: url("../image/logoSmall.png") no-repeat;
	position: absolute;
	top: 29px;
	right: -8px;
	transform: rotate(30deg);
}

.panel_tit {
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	padding-top: 20px;
	color: #92acdc;
}

.bodyer .panel .register {
	padding-left: 45px;
	float: left;
	color: #999;
	width: 268px;
	position: relative;
}

.bodyer .panel .register .register_top {
	font-size: 14px;
	margin: 30px 0 26px;
}

.bodyer .panel .register .register_top span {
	margin: 0 2px;
}

.bodyer .panel .register .register_top a {
	font-size: 14px;
	text-decoration: none;
}

.bodyer .panel .register .register_top a:first-child {
	color: #303030;
}

.bodyer .panel .register .register_top a:last-child {
	color: #999;
}

.bodyer .panel .register input {
	font-size: 14px;
	width: 268px;
	height: 38px;
	display: block;
	box-sizing: border-box;
	border: 1px solid #dfdfdf;
	padding: 8px 0 8px 36px;
}

.bodyer .panel .register .user_icon {
	position: relative;
	margin-bottom: 18px;
}

.bodyer .panel .register .user_icon input:focus {
	border: 1px solid #98bcde;
	outline: #98bcde solid 1px;
}

.bodyer .panel .register .user_icon i {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background: url("../image/nuandao.png") no-repeat -310px -390px;
}

.bodyer .panel .register .pass_icon {
	position: relative;
	margin-bottom: 30px;
}

.bodyer .panel .register .pass_icon input:focus {
	border: 1px solid #98bcde;
	outline: #98bcde solid 1px;
}

.bodyer .panel .register .pass_icon i {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background: url("../image/nuandao.png") no-repeat -333px -434px;
}

.bodyer .panel .register .pass_icon span {
	position: absolute;
	left: 0;
	bottom: -20px;
	color: #d9534f;
	font-size: 13px;
	display: none;
}

.bodyer .panel .register input.btn1 {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #98bcde;
	margin-bottom: 20px;
}

.bodyer .panel .register input.btn1:hover {
	background: #5694ce;
}

.tips {
	width: 100px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	position: absolute;
	top: 35%;
	left: 40%;
	display: none;
}

.mask2 {
	width: 100%;
	height: 100%;
	z-index: -100;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}